[submodule "appserver/extras/notifiers"]
	path = appserver/extras/notifiers
	url = https://github.com/payara/Notifiers
[submodule "appserver/extras/upgrade-tool"]
	path = appserver/extras/upgrade-tool
	url = https://github.com/payara/upgrade-tool
[submodule "appserver/extras/certificate-management"]
	path = appserver/extras/certificate-management
	url = https://github.com/payara/Certificate-Management
	branch = main
[submodule "appserver/extras/diagnostics-tool"]
	path = appserver/extras/diagnostics-tool
	url = https://github.com/payara/Diagnostics-Tool
	branch = main
